.row {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.08rem;
  color: white;
}
.row_posters {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin-right: 15px;
  transition: transform 450ms;
  border-radius: 1vw;
}
.row_poster:hover {
  transform: scale(1.08);
}
