.full-movie-dea{
   background-color:#111; 
   color: white;
   margin: 30px;
   margin-top: 40;
   padding: 10px;
   
  
}
.full-movie-det{
    color: white;
     margin: 30px; 
     height: 400px;  
}
.date-runtime{
    margin-top: 10px;
}